<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="rpgawesome" href="../node_modules/rpg-awesome/css/rpg-awesome.min.css">
  <title>Build-a-Char</title>
</head>

<body>
  <section class="hero is-small is-dark">
    <div class="hero-head">
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        <div class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item">
              <div class="navbar-item">
                <a class="button is-light">
                  <strong>Create a Character</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="title is-4 has-text-centered p-3 mt-3">
                Welcome Livak&nbsp;,
              </a>
              <a class="button is-light">
                <strong>Logout</strong>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body has-text-centered mb-5">
      <a class="title is-1" href="">
        Build-a-Char
      </a>
    </div>
  </section>

  <form class="columns mt-5 is-8 is-variable is-centered is-multiline">
    <div class="column is-5-desktop p-5">
      <label class="title p-2">Name:</label>
      <div class="control">
        <input class="input is-normal m-3" type="text" id="CharaName" placeholder="Please enter your name here">
      </div>
    <div class="columns">
      <ul class="media-content is-6 p-4">
        <li>
          <label class="title p-2">Race:</label>
          <div class="control">
            <input class="input is-normal m-3" type="text" id="CharaRace" placeholder="Please enter your race here">
          </div>
        </li>
        <li>
          <label class="title p-2">Gender:</label>
          <div class="control">
            <input class="input is-normal m-3" type="text" id="CharaGender"
              placeholder="Please enter your gender here">
          </div>
        </li>
        <li>
          <label class="title p-2">Class:</label>
          <div class="control">
            <div class="select m-3">
              <select id="CharaClass">
                <option disabled hidden selected>Select</option>
                  <option value="1">Warrior</option>
                  <option value="2">Mage</option>
                  <option value="3">Priest</option>
                  <option value="4">Rogue</option>
              </select>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </form>
  
    <div class="column is-2-desktop p-5">
      <div class="p-5">
        <button class="button is-medium p-5 is-rounded is-info" id="createCharacter">Submit</button>
      </div>
    </div>
  </form>
  
  <script src="/js/create.js"></script>