<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="rpgawesome" href="../node_modules/rpg-awesome/css/rpg-awesome.min.css">
  <title>Build-a-Char</title>
</head>

<body>
  <section class="hero is-small is-dark">
    <div class="hero-head">
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        <div class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item">
              <div class="navbar-item">
                <a class="button is-light">
                  <strong>Create a Character</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="title is-4 has-text-centered p-3 mt-3">
                Welcome Livak&nbsp;,
              </a>
              <a class="button is-light">
                <strong>Logout</strong>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body has-text-centered mb-5">
      <a class="title is-1" href="">
        Build-a-Char
      </a>
    </div>
  </section>





  <div class="columns mt-5 is-8 is-variable is-centered is-multiline">
    <div class="column is-5-desktop p-5">
      <div class="field is-horizontal">
        <div class="field-label is-large">
          <label class="label">Name:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input is-normal mt-3" type="text" placeholder="Please enter your name here">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-large">
          <label class="label">Race:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input is-normal mt-3" type="text" placeholder="Please enter your race here">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-large">
          <label class="label">Gender:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input is-normal mt-3" type="text" placeholder="Please enter your gender here">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-5-desktop p-5">
      <div class="field is-horizontal">
        <div class="field-label is-large">
          <label class="label">Class:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <div class="select">
                <select>
                  <option>Warrior</option>
                  <option>Mage</option>
                  <option>Priest</option>
                  <option>Rogue</option>
                </select>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-large">
          <label class="label">HP:</label>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-large">
          <label class="label">MP:</label>
        </div>
      </div>
    </div>
  </div>

  <div class="columns mt-5 is-8 is-variable is-centered is-multiline p-5 m-1">
    <div class="column is-5-desktop p-5">
      <div class="card">
        <div class="media-content">
          <h2 class="title is-4 is-size-2 p-5">Stats:</h2>
        </div>
        <div class="media-content">
          <h2 class="title is-4 is-size-4 p-5">Strength:</h2>
        </div>
        <div class="media-content">
          <h2 class="title is-4 is-size-4 p-5">Dexterity:</h2>
        </div>
        <div class="media-content">
          <h2 class="title is-4 is-size-4 p-5">Intelligence:</h2>
        </div>
        <div class="media-content">
          <h2 class="title is-4 is-size-4 p-5">Charisma:</h2>
        </div>
        <div class="media-content">
          <h2 class="title is-4 is-size-4 p-5">Constitution:</h2>
        </div>
      </div>
    </div>
    <div class="columns mt-5 is-8 is-variable is-centered is-multiline p-5 m-2"></div>
    <div class="column is-5-desktop p-5">
      <div class="card">
        <div class="media-content">
          <h2 class="title is-4 is-size-2 p-5">Skills:</h2>
        </div>
        <div class="media-content">
          <h2 class="title is-4 is-size-2 p-5">1:</h2>
        </div>
        <div class="media-content">
          <h2 class="title is-4 is-size-2 p-5">2:</h2>
        </div>
        <div class="media-content">
          <h2 class="title is-4 is-size-2 p-5">3:</h2>
        </div>
        <div class="media-content">
          <h2 class="title is-4 is-size-2 p-5">4:</h2>
        </div>
      </div>
    </div>

    <div class="column is-2-desktop p-5">
      <div class="has-text-centered p-5">
        <button class="button is-medium p-5 is-rounded is-info">Submit</button>
      </div>
    </div>
</body>

</html>