  <form class="columns mt-5 is-8 is-variable is-centered is-multiline">
    <div class="column is-5-desktop p-5">
      <label class="title p-2">Name:</label>
      <div class="control">
        <input class="input is-normal m-3" type="text" id="CharaName" placeholder="Please enter your name here">
      </div>
    <div class="columns">
      <ul class="media-content is-6 p-4">
        <li>
          <label class="title p-2">Race:</label>
          <div class="control">
            <input class="input is-normal m-3" type="text" id="CharaRace" placeholder="Please enter your race here">
          </div>
        </li>
        <li>
          <label class="title p-2">Gender:</label>
          <div class="control">
            <input class="input is-normal m-3" type="text" id="CharaGender"
              placeholder="Please enter your gender here">
          </div>
        </li>
        <li>
          <label class="title p-2">Class:</label>
          <div class="control">
            <div class="select m-3">
              <select id="CharaClass">
                <option disabled hidden selected>Select</option>
                  <option value="1">Warrior</option>
                  <option value="2">Mage</option>
                  <option value="3">Priest</option>
                  <option value="4">Rogue</option>
              </select>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </form>
  
  <form class="columnsis-variable is-centered is-multiline p-3 m-1">
    <div class="column p-3">
      <div class="column is-12">
  <div class="card">
      <ul class="media-content is-6 p-4">
        <li class="title p-2">HP:</li>

        <li class="title p-2">MP:</li>

        <li class="title p-2">Strength:</li>

        <li class="title p-2">Dexterity:</li>

        <li class="title p-2">Intelligence:</li>

        <li class="title p-2">Charisma:</li>

        <li class="title p-2">Constitution:</li>
      </ul>

    </div>
  
    <div class="column is-2-desktop p-5">
      <div class="p-5">
        <button class="button is-medium p-5 is-rounded is-info" id="createCharacter">Submit</button>
      </div>
    </div>
  </form>
  
  <script src="/js/create.js"></script>