<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="rpgawesome" href="../node_modules/rpg-awesome/css/rpg-awesome.min.css">
    
    <title>Build-a-char</title>
</head>

<body>
    <section class="hero is-small is-dark">
        <div class="hero-head">
          <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
            <div class="navbar-menu">
              <div class="navbar-start">
                <div class="navbar-item">
                  <div class="navbar-item">
                    <a class="button is-light">
                      <strong>Create a Character</strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="title is-4 has-text-centered p-3 mt-3">
                    Welcome Livak&nbsp;,
                  </a>
                  <a class="button is-light">
                    <strong>Logout</strong>
                  </a>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="hero-body has-text-centered mb-5">
          <a class="title is-1" href="">
            Build-a-Char
          </a>
        </div>
      </section>

    <div class="section has-background-white py-5 has text-black-ter">
        <!--section class="section section has-background-link py-4 has text-white is-large"-->
        <div class="title has-text-centered">
            <h2 class="title is-2">Please log in to create a character</h2>
            <!--/section-->
        </div>
        <!--div class="field is-vertical"-->
        <div class="field is-horizontal">
            <div class="field-label is-large">
                <label class="label">Email:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Please Enter A Valid Email">
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-large">
                <label class="label">Password:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Please Enter Your Password">
                    </div>
                </div>
            </div>
        </div>
        <!--/div-->
        <div class="has-text-centered">
            <a class="button is-warning is-light"> Log in</a>
        </div>

    </div>
   
    <div class="section has-background-white py-5 has text-black-ter">

        <div class="has-background white py-5 text-black has-text-centered">
            <h2 class="title is-2">Need an account? Sign up here!</h2>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-large">
                <label class="label">Name:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Please Enter Your Name">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-large">
                <label class="label">Email:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Please Enter A Valid Email">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-large">
                <label class="label">Password:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Please Enter Your Password">
                    </div>
                </div>
            </div>
        </div>

        <div class="has-text-centered">
            <a class="button is-warning is-light"> Sign Up</a>
            </section>
        </div>

    </div>
</body>

</html>