<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="rpgawesome" href="../node_modules/rpg-awesome/css/rpg-awesome.min.css">
  <title>Build-a-Char</title>
</head>

<body>
  <nav class="navbar has-shadow is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        Build-a-Char
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="navbar-item">
            <a class="button is-light">
              <strong>Create a Character</strong>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light">
            <strong>Logout</strong>
          </a>
        </div>
      </div>
    </div>
    </div>
  </nav>

  <container class="container">

    <div class="column is-size-12 has-text-centered mt-5">
      <a class="title is-2">
        Welcome Livak,
      </a>
    </div>
    <div class="columns mt-5 is-8 is-variable is-multiline">
      <div class="column is-7-desktop p-5">
        <div class="card">
          <div class="media-content">
            <h2 class="title is-4 is-size-2 p-5">Character #1: Irene the Swift-Footed</h2>
          </div>
        </div>
      </div>
      <div class="column is-1-desktop p-5">
        <div class="has-text-centered p-5">
          <button class="button is-small p-5 is-rounded is-warning">Party</button>
        </div>
      </div>
      <div class="column is-2-desktop p-5">
        <div class="has-text-centered p-5">
          <button class="button is-medium p-5 is-rounded is-info">View Character</button>
        </div>
      </div>
      <div class="column is-2-desktop p-5">
        <div class="has-text-centered p-5">
          <button class="button is-medium p-5 is-rounded is-danger">Delete</button>
        </div>
      </div>

      <div class="column is-7-desktop p-5">
        <div class="card">
          <div class="media-content">
            <h2 class="title is-4 is-size-2 p-5">Character #2: Xenon the ShadowKing</h2>
          </div>
        </div>
      </div>
      <div class="column is-1-desktop p-5">
        <div class="has-text-centered p-5">
          <button class="button is-small p-5 is-rounded is-warning">Party</button>
        </div>
      </div>
      <div class="column is-2-desktop p-5">
        <div class="has-text-centered p-5">
          <button class="button is-medium p-5 is-rounded is-info">View Character</button>
        </div>
      </div>
      <div class="column is-2-desktop p-5">
        <div class="has-text-centered p-5">
          <button class="button is-medium p-5 is-rounded is-danger">Delete</button>
        </div>
      </div>

      <div class="column is-7-desktop p-5">
        <div class="card">
          <div class="media-content">
            <h2 class="title is-4 is-size-2 p-5">Character #3: Eric the Slayer</h2>
          </div>
        </div>
      </div>
      <div class="column is-1-desktop p-5">
        <div class="has-text-centered p-5">
          <button class="button is-small p-5 is-rounded is-warning">Party</button>
        </div>
      </div>
      <div class="column is-2-desktop p-5">
        <div class="has-text-centered p-5">
          <button class="button is-medium p-5 is-rounded is-info">View Character</button>
        </div>
      </div>
      <div class="column is-2-desktop p-5">
        <div class="has-text-centered p-5">
          <button class="button is-medium p-5 is-rounded is-danger">Delete</button>
        </div>
      </div>

      <div class="column is-7-desktop p-5">
        <div class="card">
          <div class="media-content">
            <h2 class="title is-4 is-size-2 p-5">Character #4: Zuborgorgun</h2>
          </div>
        </div>
      </div>
      <div class="column is-1-desktop p-5">
        <div class="has-text-centered p-5">
          <button class="button is-small p-5 is-rounded is-warning">Party</button>
        </div>
      </div>
      <div class="column is-2-desktop p-5">
        <div class="has-text-centered p-5">
          <button class="button is-medium p-5 is-rounded is-info">View Character</button>
        </div>
      </div>
      <div class="column is-2-desktop p-5">
        <div class="has-text-centered p-5">
          <button class="button is-medium p-5 is-rounded is-danger">Delete</button>
        </div>
      </div>

    </div>
  </container>
</body>

</html>