<div class="section has-background-white py-5 has text-black-ter"id="loginForm">
        <!--section class="section section has-background-link py-4 has text-white is-large"-->
        <div class="title has-text-centered">
            <h2 class="title is-2">Please log in to create a character</h2>
            <!--/section-->
        </div>
        <!--div class="field is-vertical"-->
        <div class="field is-horizontal">
            <div class="field-label is-large">
                <label class="label">Email:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" id="email" type="text" placeholder="Please Enter A Valid Email">
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-large">
                <label class="label">Password:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" id="password" type="text" placeholder="Please Enter Your Password">
                    </div>
                </div>
            </div>
        </div>
        <!--/div-->
        <div class="has-text-centered">
            <a class="button is-warning is-light"> Log in</a>
        </div>

    </div>
   
    <div class="section has-background-white py-5 has text-black-ter">

        <div class="has-background white py-5 text-black has-text-centered">
            <h2 class="title is-2">Need an account? Sign up here!</h2>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-large">
                <label class="label">Name:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Please Enter Your Name">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-large">
                <label class="label">Email:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Please Enter A Valid Email">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-large">
                <label class="label">Password:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Please Enter Your Password">
                    </div>
                </div>
            </div>
        </div>

        <div class="has-text-centered">
            <a class="button is-warning is-light"> Sign Up</a>
            </section>
        </div>

    </div>

    <script src="/js/login.js"></script>